.coment{
    width: 405px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.205);
    transition: transform 0.5s, width 0.5s;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.coment:hover{
    transform: scale(1.1);
    background-image: url('../../assets/DarkGradient07.png');
    background-size: 100% 100%;
    box-shadow: 0px 10px 30px 16px rgba(0, 0, 0, 0.233);
    z-index: 10;
}
.coment:hover .links-coment-container{
    display: flex;
}
.coment .header-coment{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.coment .header-coment .info-user{
    display: flex;
}
.coment .header-coment ion-icon{
    margin-right: 10px;
    font-size: 3rem;
}
.coment .header-coment p{
    color: gray;
}
.coment .header-coment .info-post p{
    width: fit-content;
    padding: 4px 12px;
    color: #fafafa;
    border-radius: 50px;
    font-size: 0.8rem;
}
.coment .content-coment{
    padding: 10px;
    font-size: 1.3rem;
}
.coment .footer-coment{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.coment .footer-coment .info-media{
    display: flex;
}
.coment .footer-coment .info-footer{
    margin-left: 5px;
}
.coment .footer-coment .color-coment{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.coment .footer-coment .color-coment ion-icon{
    font-size: 2rem;
}
.coment .info-coment{
    display: flex;
}
.coment .info-coment .amount-coments,
.coment .info-coment .amount-likes{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px 12px;
    margin-right: 5px;
    border-radius: 50px;
}
.coment .info-coment .amount-coments ion-icon,
.coment .info-coment .amount-likes ion-icon{
    margin-right: 5px;
    font-size: 1.2rem;
}
.coment .links-coment-container{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    z-index: 10;
    border-radius: 3px;
}
.coment .links-coment-container button,
.coment .links-coment-container a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid #fafafa;
    background-color: initial;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 1.7rem;
    transition: background-color 0.3s;
}
.coment .links-coment-container button:hover,
.coment .links-coment-container a:hover{
    background-color: white;
}
.coment .links-coment-container button:hover ion-icon{
    color: red;
}
.coment .links-coment-container a:hover ion-icon{
    color: black;
}
@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}