.profile-container{
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #0f0f0f;
}
.profile-container .container-user-not-exists{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f;
    position: absolute;
    z-index: 10;
}
.profile-container .modal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 10;
}
.profile-container .modal .modal-content.upload{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    border-radius: 35px;
}
.profile-container .modal .modal-content.upload ion-icon{
    font-size: 6rem;
    margin-bottom: 10px;
    color: rgb(0, 128, 79);
}
.profile-container .modal .modal-content.upload ion-icon[name="hourglass-outline"]{
    animation: rotate 3s infinite 1s;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.profile-container .modal .modal-content.upload h1{
    margin-bottom: 20px;
}
.profile-container .modal .modal-content.upload .progress{
    width: 200px;
    height: 20px;
    background-color: black;
    border-radius: 50px;
}
.profile-container .modal .modal-content.upload .progress .progress-content{
    width: 0%;
    height: 100%;
    background-color: rgb(0, 128, 79);
    border-radius: 50px;
    transition: width 0.3s;
}
.profile-container .modal .modal-content.upload button{
    width: 250px;
    height: 40px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}
.profile-container .modal .modal-content.upload button:hover{
    background-color: rgb(96, 0, 185);
}
.profile-container .container-user-not-exists h1{
    width: 300px;
    font-size: 3rem;
    text-align: center;
}
.profile-container .container-user-not-exists ion-icon{
    font-size: 15rem;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.322);
}
.profile-info-container{
    width: fit-content;
    height: 100%;
    margin-right: 30px;
}
.profile-info-container .nothing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.205);
}
.profile-info-container .nothing-container ion-icon{
    font-size: 3rem;
    color: rgba(128, 128, 128, 0.582);
}
.profile-info-container .nothing-container h1{
    max-width: 350px;
    text-align: center;
    font-size: 1.2rem;
}
.profile-info-container .user-info-container{
    height: fit-content;
    position: relative;
    margin-top: 150px;
    margin-bottom: 10px;
}
.profile-info-container .user-info-container .name-container{
    display: flex;
    align-items: center;
}
.profile-info-container .user-info-container .name-container h1{
    margin-right: 15px;
}
.profile-info-container .user-info-container .name-container .follow-tag{
    width: fit-content;
    background-color: rgba(128, 128, 128, 0.274);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}
.profile-info-container .user-info-container button{
    width: fit-content;
    background-color: initial;
    margin-left: 15px;
    border: 1px solid blueviolet;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    padding: 0 15px;
}
.profile-info-container .user-info-container button.selected{
    background-color: blueviolet;
}
.profile-info-container .user-info-container button:hover{
    background-color: blueviolet;
}
.profile-info-container .user-info-container .image-user-container{
    width: 230px;
    height: 230px;
    position: absolute;
    top: -100px;
    left: 50px;
}
.profile-info-container .user-info-container .image-user-container img{
    width: 230px;
    height: 230px;
    border-radius: 100%;
}
.profile-info-container .user-info-container input{
    width: 100%;
    height: 50px;
    background-color: initial;
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 3px;
    padding: 0 15px;
    font-size: 1.5rem;
    outline: none;
    margin-bottom: 10px;
}
.profile-info-container .user-info-container .image-user-container .button-container{
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    top: 0;
    border-radius: 100%;
}
.profile-info-container .user-info-container .image-user-container .button-container button{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: none;
}
.profile-info-container .user-info-container .image-user-container .button-container button ion-icon{
    font-size: 1.7rem;
}
.profile-info-container .user-info-container .user-info{
    padding: 150px 35px 35px 35px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.205);
    /* background-color: #313131; */
}
.profile-info-container .user-info-container .user-info .follow-container{
    display: flex;
}
.profile-info-container .user-info-container .user-info .follow-container p{
    border-radius: 50px;
    background-color: #fafafa;
    color: black;
    padding: 5px 10px;
    margin-right: 5px;
    font-weight: 500;
}
.profile-info-container .user-info-container .user-info h1:nth-child(2){
    margin-bottom: 10px;
    color: rgba(128, 128, 128, 0.678);
    font-size: 1.5rem;
    font-weight: 400;
}
.profile-info-container .user-info-container .user-info .biography{
    width: 400px;
    margin-top: 20px;
    font-size: 1.1rem;
}
.profile-info-container .user-info-container .user-info textarea{
    width: 100%;
    margin-top: 20px;
    background-color: inherit;
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 3px;
    font-size: 1.5rem;
    outline: none;
    padding: 15px;
    resize: vertical;
}
.profile-info-container .user-info-container .user-info .buttons-container button{
    width: 50%;
    height: 40px;
    margin: 10px 0 0 0;
    background-color: blueviolet;
    transition: filter 0.3s;
}
.profile-info-container .user-info-container .user-info .buttons-container button:hover{
    filter: brightness(0.7);
}
.profile-info-container .user-info-container .user-info .buttons-container .submit-edit{
    width: calc(50% - 5px);
    margin-right: 5px;
}
.profile-info-container .user-info-container .user-info .buttons-container .cancel-edit{
    background-color: rgb(212, 50, 83);
    border: none;
}
.profile-info-container .user-medias-preferences{
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}
.profile-info-container .user-medias-preferences .header-medias-preferences{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.profile-info-container .user-medias-preferences .header-medias-preferences button{
    height: 35px;
    width: 35px;
    background-color: initial;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.profile-info-container .user-medias-preferences .header-medias-preferences button:hover{
    background-color: rgba(0, 0, 0, 0.384);
}
.profile-info-container .user-medias-preferences .user-medias-preferences-container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 10px;
}
.profile-info-container .user-medias-preferences .modal-medias{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 2px;
    width: 100%;
    max-height: 550px;
    background-color: #0f0f0f;
    position: absolute;
    z-index: 10;
    overflow-x: auto;
    padding: 5px 0 5px 5px;
    box-shadow: 0px 0px 16px 16px rgba(0, 0, 0, 0.205);
    border-radius: 3px;
}
.profile-info-container .user-medias-preferences .modal-medias .media:hover{
    transform: scale(1.01);
}
.profile-info-container .user-medias-preferences .modal-medias::-webkit-scrollbar{
    width: 5px;
}
.profile-info-container .user-medias-preferences .modal-medias::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 50px;
    background-color: blueviolet;
}
.profile-info-container .user-genders-preferences > h1{
    margin-bottom: 10px;
}
.profile-info-container .user-genders-preferences .user-genders-preferences-container{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 20px;
    margin-bottom: 20px;
}
.profile-info-container .user-genders-preferences .header-genders-preferences{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.profile-info-container .user-genders-preferences .header-genders-preferences button{
    height: 35px;
    width: 35px;
    background-color: initial;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.profile-info-container .user-genders-preferences .header-genders-preferences button:hover{
    background-color: rgba(0, 0, 0, 0.384);
}
.profile-info-container .user-medias-preferences .header-medias-preferences input,
.profile-info-container .user-genders-preferences .header-genders-preferences input{
    width: 250px;
    height: 35px;
    border: none;
    background-color: initial;
    outline: none;
    padding: 0 10px;
    color: #fafafa;
    font-size: 1.1rem;
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 3px;
}
.profile-info-container .user-genders-preferences .user-genders-preferences-container .user-gender-preference{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}
.profile-info-container .user-genders-preferences .user-genders-preferences-container .user-gender-preference p{
    text-align: center;
}
.profile-interations-container{
    display: flex;
    width: 50%;
    margin-top: 150px;
}
.profile-interations-container .avaliations-column{
    margin-right: 5px;
}
.profile-interations-container .nothing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.205);
}
.profile-interations-container .nothing-container h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.profile-interations-container .nothing-container ion-icon{
    font-size: 15rem;
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.322);
}