.media-view-container{
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 15%;
    margin-bottom: 25px;
}
.media-view-info-container{
    display: flex;
    height: fit-content;
    padding: 0 15%;
    margin-bottom: 50px;
}
.media-view-info-container .poster-media-container{
    margin-right: 25px;
}
.media-view-info-container .poster-media-container img{
    height: 500px;
}
.media-view-info-container .media-info-content{
    width: 100%;
}
.media-view-info-container .media-info-content .header-media-info-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
}
.media-view-info-container .media-info-content .header-media-info-content h1{
    font-size: 4rem;
}
.media-view-info-container .media-info-content .header-media-info-content .media-stars{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 200;
}
.media-view-info-container .media-info-content .header-media-info-content .media-stars ion-icon{
    color: rgb(255, 217, 0);
    margin-right: 10px;
}
.media-view-info-container .media-info-content .biography{
    font-size: 1.3rem;
    font-weight: 300;
}
.media-view-container .cover-media-container{
    padding: 0 15%;
    margin-bottom: 60px;
}
.media-view-container .cover-media-container img{
    width: 100%;
    border-radius: 10px;
}
.media-view-container .avaliations-most-likeds{
    height: fit-content;
    padding: 0 15%;
    margin-bottom: 50px;
}
.media-view-container .avaliations-most-likeds h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
.media-view-container .avaliations-most-likeds .row{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}
.media-view-container .avaliations-most-likeds .row .avaliation{
    width: 450px;
    margin-right: 5px;
}
.media-view-container .avaliations-most-likeds .row .avaliation:last-child{
    margin-right: 0px;
}
.media-view-container .relationed-medias{
    height: fit-content;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 50px;
}
.media-view-container .relationed-medias h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.media-view-container .relationed-medias .relationed-medias-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.media-view-container .relationed-medias .relationed-medias-container{
    display: flex;
    transition: transform 0.7s;
}
.media-view-container .relationed-medias .relationed-medias-container .media{
    margin-right: 2px;
}
.media-view-container .relationed-medias button{
    background: initial;
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: background-color 0.3s;
}
.media-view-container .relationed-medias button ion-icon{
    font-size: 2rem;
}
.media-view-container .relationed-medias button:hover{
    background-image: url('../../assets//DarkGradient07.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.media-view-container .relationed-medias .next-button-slider{
    right: 80px;
}
.media-view-container .relationed-medias .previous-button-slider{
    left: 260px;
    display: none;
}